.f_container{
    justify-content: space-between;
}
.f_left{
    gap: 1rem;
}
.f_menu{
    gap: 1.5rem;
    margin-top: 1.5rem;
    font-weight: 500;
    
}
@media (max-width:768px) {
    .f_container{
        justify-content: center;
    }
    .f_container>div{
        align-items: center !important;
        text-align: center;
    }
}